[Unit]
Description=Visionatrix Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/app/Visionatrix
ExecStart=/app/Visionatrix/.venv/bin/python3 -m visionatrix run --ui --flows_dir /nc_app_vix_data/vix_flows --models_dir /nc_app_vix_data/vix_models --disable-smart-memory
Restart=on-abort

[Install]
WantedBy=multi-user.target
